{% extends "/base.html.j2" %}
        {% block css %}
        {{ super() }}
        <link rel="preload" onload="this.rel='stylesheet'" type="text/css" href="{{ url_for('static', filename='{}/promociones.css'.format(servidor.config.get('CSS'))) }}" as="style" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='{}/promociones.css'.format(servidor.config.get('CSS'))) }}" />
        {% endblock css %}

        {% block js %}
        {{ super() }}
        {% endblock js %}

        {% block contenido%}
        <div class="flex vertical" id="banner">
            <div class="zocalo flex horizontal">
                <h4>Promociones</h4><h4 style="font-family: 'Bodoni', serif;">.exa</h4>
            </div>
            <img class="fondo" src="{{ url_for('static', filename='/img/banner-inicio.webp') }}"/>
        </div>
        <h2 id="titular">Encuentros</h2>
        <div class="flex horizontal" id="principal"
        hx-ext="morphdom-swap"
        >
            <div class="seccion" id="quinquenales"
            hx-get="/promociones/quinquenales"
            hx-target="body"
            hx-swap="outerHTML"
            >
                <h1 st>Quinquenales</h1>
                <img class="fondo" src="{{ url_for('static', filename='/img/promociones/_quinquenales.png') }}"/>
            </div>
            <div class="seccion" id="habituales"
            hx-get="/promociones/habituales"
            hx-target="body"
            hx-swap="outerHTML"
            >
                <h1>Habituales</h1>
                <img class="fondo" src="{{ url_for('static', filename='/img/promociones/_habituales.png') }}"/>
            </div>

            <div class="separador vertical"></div>
            <div id="cuerpo">
            <p class="cuerpo">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem </p>
            </div>

        </div>
        {% endblock contenido%}