<form name="contacto" id="contacto"
class="flex vertical"
style="justify-items: center;align-items: center;"
hx-get="/contacto"
hx-target="this"
hx-swap="outerHTML"
hx-trigger="load delay:5s"
>
    <span class="material-symbols-outlined">
    mark_email_read
    </span>
 <h2>¡Listo!</h2>
 <p>Recibimos tu contacto, nos comunicaremos contigo a la brevedad.</p>
</form>